.bool-view {
  padding: 5px 15px 5px 15px;
  width: fit-content;
  border-radius: 20px;
  color: #ffffff;
}

.yes {
  background-color: #009933;
}

.no {
  background-color: #ff0000;
}

.not-available {
  background-color: #f2f2f2;  
  color: #808080;
  font-style: italic;
  border-color: #808080;
  font-size: 12px;
  width: fit-content;
  padding: 5px 15px 5px 15px;
  text-transform: uppercase;
  border-radius: 3px;
}